body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}
*{
    text-decoration: none;
}
h1{
font-size: 50px;
margin: 0;
}
section.wraper{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    
}
/* Header part start */
header{
    display: flex;
    margin-bottom: 50px;
     
}
.header-part{
padding: 80px 220px 0 0;
}
.announcement{
    border-left: 5px solid red;
    padding-left: 15px;
    margin-bottom: 30px;
}
.declaration-text-color{
    color: red;
}
.header-part p{
    text-align: justify;
}
.btn{
    padding: 10px 40px;
    background-image: linear-gradient(tomato, rgb(180, 45, 21));
    border: none;
    border-radius: 5px;
    font-weight: 900;
    display: inline-block;
}
.btn a{
    color: rgb(245, 229, 138);
}
.header-image{
width: 50%;
}
.header-image img{
    width: 100%;
}
/* header part End */

/* Mission part started */
.mission-part{
    margin-bottom: 70px;
}
.mission-part h1{
    text-align: center;
}
section.mission-vision-goals{
display: flex;
justify-content: space-between;
padding-top: 50px;
}
.mission-vision-goals img{
    width: 30%;
}

.box-size{
    width: 305px;
    border-radius: 20px;
    padding: 20px
}

.mission{
    background-color:rgb(194, 240, 240);
}
.vision{
    background-color: darkkhaki;
}
.goals{
    background-color: darksalmon;
}

/* Mission part end */

/* Develop Part start */

.develop{
    display: flex;
    margin-bottom: 100px;
    
 
}
.background-shape{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    margin-left: -40px;
    background-position: left;
}
.develop-item{
    width: 50%;
    padding-left: 8%;
}
.develop-item img{
    width: 80%;
}

/* Develop part End */

/* Global part start */

.global{
    display: flex;
    margin-bottom: 100px;
}
.background-shape-global{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right 0% bottom 0%;
}
/* Global part end */
/* new copcept part started */
section.target h1{
    text-align: center;
    margin-bottom: 100px;
}
.subjects{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.subjects img{
    width: 100%;
}
.subjects-size{
    width:250px;
    box-shadow: 5px 5px 10px grey;
}


/* New concept part end */
footer{
    height: 150px;
    background-color: rgb(75, 66, 66);
    margin: 5px;
    text-align: center;
    padding-top: 30px;
}
footer h4{
    color: white;
}